<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <div>
        @if (!User.Identities.Any(u => u.IsAuthenticated))
        {
            <span>Welcome, stranger!</span>

        }
        else
        {
            <span>
                Welcome
            </span>

        }
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
