#parkwithkids{
     opacity: 0.8;
     margin-left: 17em;
     margin-bottom: 1em;
}

#socialButtons{
    width: 75px;
    height: 25px;
    font-size: 14px;
}

#newdad{
    width: 450px;
    position:absolute;
    top: 20em;
    right: 12em;
}

#dadtwokids {
    float: right;
    margin-top: -30em;
}

#hatdad {
    width: 400px;
    float: right;
    margin-top: -10em;
}

body {
    background-color: #667292;
}

.greeting{
    color: ghostwhite;
}

