@model Popcorn.ViewModels.TakeQuizViewModel

@{
    Layout = "_Layout";
}
<h2>Answer these questions to get better matches!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Answers</h3>
            </th>
            <th>
                <h3>QuestionText</h3>
            </th>
            <th>
                <h3>Answers</h3>
            </th>
        </tr>
    </thead>

</table>
