@model IEnumerable<Popcorn.Models.ApplicationUser>
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h2 class="display-3">Your Matches!</h2>
        <hr class="my-4">
@foreach (var user in Model)
{
    <h2>@Html.DisplayFor(modelItem => user.FirstName)</h2>
    <ul>
        <li>
            Number of Children: @Html.DisplayFor(modelItem => user.NumberOfKids)
        </li>
        <li>
            Age Range of Children: @Html.DisplayFor(modelItem => user.KidAgeRanges)
        </li>
    </ul>
}
</div>
</div>