@model IEnumerable<Popcorn.Models.Profiles>

@{
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.Id)</h2>
    <ul>
        <li>
            Number of Children: @Html.DisplayFor(modelItem => item.UserId)
        </li>
        <li>
            Ages of Children: @Html.DisplayFor(modelItem => item.ResponsesId)
        </li>
    </ul>
}