@model IEnumerable<Popcorn.Models.ApplicationUser>
@{
    Layout = "_Layout";
}

@*Table to display list of users*@
<div class="container">
    <div class="jumbotron">
        <h2 class="display-3">Administrator Dashboard</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* outputs full name of users *@
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
