@model IEnumerable<Popcorn.Models.ApplicationUser>
@{
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.FirstName)</h2>
    <ul>
        <li>
            Number of Children: @Html.DisplayFor(modelItem => item.NumberOfKids)
        </li>
        <li>
            Ages of Children: @Html.DisplayFor(modelItem => item.KidAgeRanges)
        </li>
    </ul>
        <a asp-action="DaddyLikes" asp-controller="Browse" asp-for="TargetId" asp-route-targetId="@item.Id" id="targetId" value="Pop!">Pop!</a>

}

