@model Popcorn.Models.MenuEnum
@{
    Layout = "_Layout";
}

@*add styling link here!*@

below is the form for accepting user profile queries by quality
<body id="homePage">
    <div id="myOptions" class="options" data-ride="carousel">
        <div id="myOptionsImg" class="carousel-inner" role="listbox"></div>
    </div>

    <div id="main-form" class="col-sm-4 col-sm-offset-4">
        <div>

        </div>
    </div>

    <div>

    </div>

</body>
