@model Popcorn.Models.MenuEnum
@{
    Layout = "_Layout";
}


<div id="front-page" style="width: 100%; height: auto; margin: 0; padding: 0;">
<img src="https://www.nycgovparks.org/photo_gallery/full_size/23026.jpg" id="parkwithkids" style="margin: 0; padding: 0; height: auto; width: 100%;"; />
        <p class="hover">Popcorn</p>
        <p class="baby-hover">Q: What did baby corn say to mama corn? A: Where’s popcorn?</p>
</div>

@*below is the form for accepting user profile queries by quality*@


